<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PDF template</title>
</head>
<body>
    <form id="main-form" method="POST" enctype="multipart/form-data" action="/template">
        <h2>Автозаполнитель документа</h2>
        <fieldset>
            <legend>Загрузить шаблон</legend>
            <input id="input-file" type="file" name="input_file_data" accept=".doc,.docx"
                                       placeholder="Выберите файл"/>
        </fieldset>
        <fieldset>
            <legend>Пропишите тэги</legend>
            <p>Пример:<br>
            "name":Nikita<br>
            "id":12345<br>
            "browser":Onion...</p>
            <textarea id="input-text" type="text" name="input_text_data" placeholder="Текст"/></textarea>
        </fieldset>
        <input type="submit" value="Обработать" />
    </form>
</body>
</html>