<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Регистрация</h1>
    <form method="post" action="/auth/signup">
        {% if msg %}
            <font color="red">{{ msg }}</font><br>
        {% endif %}
        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="nickname">Никнейм:</label><br>
        <input type="text" id="nickname" name="nickname" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Зарегистрироваться">
    </form>
</body>
</html>